[submodule "gens/minecraft-data"]
	path = gens/minecraft-data
	url = https://github.com/PrismarineJS/minecraft-data
[submodule "data/minecraft-data"]
	path = data/minecraft-data
	url = https://github.com/PrismarineJS/minecraft-data
