/target
/log
/tmp

# a script to upload release builds to my dev server
upload.sh

# cargo flamegraph
flamegraph.svg
perf.data
perf.data.old

*-default.yml

# a testing world
/world

pprof.pb

__pycache__
