/target
/log
/tmp

*.log

# a script to upload release builds to my dev server
upload.sh

# cargo flamegraph
flamegraph.svg
perf.data
perf.data.old

*-default.yml
*-default.toml

# User-specific configs should be written here, we don't really want
# these to get checked in.
/server.toml
/proxy.toml

bb_server/server.toml

# a testing world
/world

# Vanilla datapack. Contains recipies
/data

examples/*/target

# cargo test generates docs, and puts them here.
bb_server/target

pprof.pb

__pycache__
