/target
/log
/tmp

*.log

# a script to upload release builds to my dev server
upload.sh

# cargo flamegraph
flamegraph.svg
perf.data
perf.data.old

*-default.yml

# a testing world
/world

examples/*/target

# cargo test generates docs, and puts them here.
bb_server/target

pprof.pb

__pycache__
